<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Algorithms</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="shortcut icon" type="image/jpg" href="img/favicon-16x16.png" />
    <style>
      li:hover {
        color: white;
        background-color: #292b2c;
      }
    </style>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand font-weight-bold" href="#"
          >ALGORITHMS_VISUALISER</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarid"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarid">
          <div class="navbar-nav ml-auto">
            <a href="algorithms.html" class="nav-item nav-link active mr-5"
              >ALGORITHMS</a
            >
            <a href="contactus.html" class="nav-item nav-link">CONTACT US</a>
          </div>
        </div>
      </div>
    </nav>

    <header class="jumbotron">
      <div class="container">
        <p class="h4 font-weight-bold">ALGORITHMS_VISUALISER</p>
        <p class="font-italic">make algorithms come live!</p>
      </div>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <ul
          class="list-group col-10 col-md-6 font-weight-bold"
          style="text-align: center"
        >
          <a href="sorts.html" style="text-decoration: none; color: black">
            <li class="list-group-item">SORTING</li>
          </a>
          <a href="graphs.html" style="text-decoration: none; color: black">
            <li class="list-group-item">GRAPH</li>
          </a>
          <a href="convexhull.html" style="text-decoration: none; color: black">
            <li class="list-group-item">CONVEX HULL</li>
          </a>
          <a href="sudoku.html" style="text-decoration: none; color: black">
            <li class="list-group-item">SUDOKU</li>
          </a>
        </ul>
      </div>
    </div>
    <br /><br /><br />
    <div class="container-fluid">
      <footer class="footer p-4">
        <div class="d-flex justify-content-center font-weight-bold">
          ALGORITHMS_VISUALISER
        </div>
        <div class="d-flex justify-content-center">
          shameek.agarwal@gmail.com
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
