<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ContactUs</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" type="image/jpg" href="img/favicon-16x16.png" />
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand font-weight-bold" href="#"
          >ALGORITHMS_VISUALISER</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarid"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarid">
          <div class="navbar-nav ml-auto">
            <a href="algorithms.html" class="nav-item nav-link mr-5"
              >ALGORITHMS</a
            >
            <a href="contactus.html" class="nav-item active nav-link"
              >CONTACT US</a
            >
          </div>
        </div>
      </div>
    </nav>

    <header class="jumbotron">
      <div class="container">
        <p class="h4 font-weight-bold">ALGORITHMS_VISUALISER</p>
        <p class="font-italic">make algorithms come live!</p>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>Contact Me</h3>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-envelope"></i>: shameek.agarwal@gmail.com<br />
          <i class="fa fa-phone"></i>: 6290885679<br />
        </div>
      </div>
      <br /><br /><br />
      <div class="row">
        <div class="col-12">
          <h3>I'd Love To Hear From You!</h3>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card">
            <div class="card-header bg-dark text-white">FEEDBACK</div>
            <div class="card-body">
              <form method="POST" action="/feedback">
                <div class="form-row">
                  <dt class="col-4 font-weight-normal">Experience</dt>
                  <dd class="col-7 ml-auto">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="experienceid1"
                        name="experience"
                        value="1"
                      />
                      <label class="form-check-label" for="experienceid1">
                        1
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="experienceid2"
                        name="experience"
                        value="2"
                      />
                      <label class="form-check-label" for="experienceid2">
                        2
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="experienceid3"
                        name="experience"
                        value="3"
                      />
                      <label class="form-check-label" for="experienceid3">
                        3
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="experienceid4"
                        name="experience"
                        value="4"
                      />
                      <label class="form-check-label" for="experienceid4">
                        4
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="experienceid5"
                        name="experience"
                        value="5"
                      />
                      <label class="form-check-label" for="experienceid5">
                        5
                      </label>
                    </div>
                  </dd>
                </div>
                <hr />
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="suggestionid">Suggestions: </label>
                    <textarea
                      class="form-control"
                      id="suggestionid"
                      name="suggestionid"
                      placeholder="Your suggestions help us improve!"
                      rows="5"
                    ></textarea>
                  </div>
                </div>
                <div class="form-row justify-content-center">
                  <input
                    type="submit"
                    name="submit"
                    value="SUBMIT"
                    class="btn btn-dark text-white"
                    autocomplete="off"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <footer class="footer p-4">
        <div class="d-flex justify-content-center font-weight-bold">
          ALGORITHMS_VISUALISER
        </div>
        <div class="d-flex justify-content-center">
          shameek.agarwal@gmail.com
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
