<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="../img/favicon-16x16.png"
    />
    <title>Heapsort</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
      }

      body {
        overflow: hidden;
      }
    </style>
  </head>

  <body>
    <canvas id="myCanvas">
      Your browser does not support the canvas element.
    </canvas>
    <script src="../js/heapsort.js"></script>
  </body>
</html>
